html {
  font-size: clamp(1rem, calc(0.5rem + 1vw), 4rem);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    text-align: center;
    padding: 3vw 5vw 3vw 5vw;
}

header nav ul li {
    margin: 10px 0 10px 0;
}

header nav ul li.fonte-amarelo a{
    color: #FBBC05;
}

header nav ul li.botao-amarelo a{
    background-color: #FBBC05;
    color: white;
    padding: 4px 10px 4px 10px;
    border-radius: 4px;
}

main section.banner {
    background: url(../images/background-banner.png) no-repeat;
    background-size: 100% auto;
}

@media only screen and (min-width: 600px) {
    header nav {
        display: flex;
        justify-content: space-between;
        font-size: 0.8rem;
        align-items: center;
    }
    
    header nav ul {
        display: flex;
        align-items: center;
        gap: 25px;
    }

    header nav ul li a:hover {
        color: #FBBC05;
    }

    header nav ul li.fonte-amarelo a:hover{
        color: black;
    }
    header nav ul li.botao-amarelo a:hover {
        background-color: white;
        border: 3px solid #FBBC05;
    }
} 
